<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>RoboClaim - a project for insurHack 2017</title>
  <meta name="description" content="InsurhackRoboClaim is a tool developed at insurhack2017 that uses mining techniques to identify bottlenecks and improve efficiencies and conformance with standard claims processes.">
  <meta name="author" content="Adrian Barwicki, ... @add your names here">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css?v=1.0">


  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <script src="./node_modules/angular/angular.js"></script>
  <script src="./js/scripts.js"></script>

</head>

<body ng-app="app">
    <div style="height:100%; padding-right: 0; padding-left: 0;" class="container-fluid">
      <div class="menu">
            <img style="margin-left: 5px; margin-top:4px" height="40" src="./img/robo-icon.svg">
            <div class="name">ROBOCLAIM</div>
      </div>
      <div style="height:100%" class="col-xs-4" ng-controller="clientChatController as chat">
        <ol class="chat">
          <div>
              <div>{{chat.chatName}}</div>
          </div>
          <hr />
          <li ng-repeat="message in chat.messages" class="{{ ::message.type }}">
              <div class="avatar"><img ng-src="{{chat.participants[message.type].profileImgUrl}}" draggable="false"/></div>
            <div class="msg">
              <p>{{message.text}}</p>
              <time>{{message.timestamp}}</time>
            </div>
          </li>
        </ol>
        <form ng-submit="chat.submitMessage(chat.newMessage)">
          <input ng-model="chat.newMessage" class="textarea" type="text" placeholder="Type here!" />
          <div class="emojis"></div>
        </form>
      </div>

      <div style="height:100%" class="col-xs-4 box" ng-controller="roboClaimControlller as roboclaim">
          <ol class="chat">
              <div class="text-center">
                  <div>{{chat.chatName}}</div>
                  <h2>I am the RoboClaim Agent!</h2>
                  <p>I make the process of insurance claim submission smooth!</p>
                  <p>I make the life of insurance agents easier!</p>
              </div>

              <div class="text-center row">
                <img style="margin: 0 auto; display:block" width="250" src="./img/robo-icon.svg">
                <img style="margin: 0 auto; display:block" width="120" src="./img/zurich-logo.svg">
              </div>

              <div class="text-center" style="bottom: 0; position:absolute;">
                  <p>
                    Check my code here
                    <br />
                    <a href="https://github.com/adrianbarwicki/insurhack-robo-claim">https://github.com/adrianbarwicki/insurhack-robo-claim</a>
                  </p>
              </div>
          </ol>
      </div>

      <div style="height:100%; padding-right: 0;" class="col-xs-4" ng-controller="insurerChatController as chat">
            <ol class="chat">
              <div>
                <div>Insurance agent</div>
              </div>
              <hr />
              <li ng-repeat="message in chat.messages" class="{{ ::message.type }}">
                <div class="avatar"><img ng-src="{{chat.participants[message.type].profileImgUrl}}" draggable="false"/></div>
                <div class="msg">
                  <p>{{message.text}}</p>
                  <time>{{message.timestamp}}</time>
                </div>
              </li>
            </ol>
            <form ng-submit="chat.submitMessage(chat.newMessage)">
            <input
              ng-model="chat.newMessage"
              class="textarea"
              type="text"
              placeholder="Type here!"/>
              <div class="emojis">
              </div>
            </form>
          </div>
      </div>
</body>

</html>